*{

    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
        scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
 
}

a{

    text-decoration: none;
}

header a{

         color: #475569;
}

header a:hover{

    color: #4F46E5;
}

header button:hover{

 color:#0F172A;
 background-color: white;
 border-width: 1px;
}

ul{

    list-style: none;
}

header{

    max-width: 1152px;
    height: 112px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: auto;
    align-items: center;
}

header ul{
    display: flex;
    gap: 15px;
    padding-left: 0;
    font-size: 16px;
    font-weight: 600;
}
header img{

    width: 50%;
}

header>a{

    padding-top: 19px;
    text-align: center;
}

header button{

background-color:#0F172A;
color: white;
border-radius: 20px;
border-width: 0;
padding: 12px 24px;
margin: 0 65px;

}

@media screen and (max-width :748px) {

header ul {
    display: none;
    
}
header img{

    min-width: -webkit-fill-available;
    margin-top: 20px;
}

}

footer{

    background-color: #0F172A;
    color: #94A3B8;
}


#f1{
    max-width: 1142px;
    height: 160px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
}

footer a{

    color: #94A3B8;
}

footer ul{

    display: flex;
    gap: 30px;
}

footer img{

    width: 50%;
}

footer a:hover{
    color: white;
}



#s1d1 {

    display: flex   ;
    margin: auto;
    justify-content: center;
    max-width: 1152px;
   
}

#s1{
    background-color: #F8FAFC;
}

#s1p1{

    background-color: #E0E7FF;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 9999px;
    color: #4338CA;
    font-weight: 700;
    font-style: italic;

}

#s1 h1{

    font-weight: 800;
    font-size: 72px;
    padding: 20px 0;
}

#s1 span{

    color: #4F46E5;
}

#art1{

        padding: 15px;
        gap: 20px;
}

#s1p2{


font-weight: 400;
font-size: 20px;
line-height: 33px;
color: #475569;
padding-bottom: 60px;

}

#s1b1{

padding: 18px 32px;
border-radius: 16px;
background-color: #0F172A;
color: white;

}

#s1b2{

padding: 18px 32px;
border-radius: 16px;
color: #0F172A;
background-color: white;
border-width: 1px;
border-color: black;
margin: 0 15px;

}

#s1d9{

    gap: 15px;
}

#s1b1:hover{
color: #0F172A;
background-color: white;

}

#s1b2:hover{
background-color: #0F172A;
color: white;
}


#avert{

background-color: #DCFCE7;
color: #16A34A;

font-weight: 700;

font-size: 16px;

line-height: 24px;
width: 40px;
height: 40px;

border-radius: 9999px;
text-align-last: center;
align-content: space-evenly;

}

