*{

    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
        scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
 
}

a{

    text-decoration: none;
}

header a{

         color: #475569;
}

header a:hover{

    color: #4F46E5;
}

header button:hover{

 color:#0F172A;
 background-color: white;
 border-width: 1px;
}

ul{

    list-style: none;
}

header{

    max-width: 1152px;
    height: 112px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: auto;
    align-items: center;
}

header ul{
    display: flex;
    gap: 15px;
    padding-left: 0;
    font-size: 16px;
    font-weight: 600;
}
header img{

    width: 50%;
}

header>a{

    padding-top: 19px;
    text-align: center;
}

header button{

background-color:#0F172A;
color: white;
border-radius: 20px;
border-width: 0;
padding: 12px 24px;
margin: 0 65px;

}

@media screen and (max-width :748px) {

header ul {
    display: none;
    
}
header img{

    min-width: -webkit-fill-available;
    margin-top: 20px;
}

}

footer{

    background-color: #0F172A;
    color: #94A3B8;
}


#f1{
    max-width: 1142px;
    height: 160px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
}

footer a{

    color: #94A3B8;
}

footer ul{

    display: flex;
    gap: 30px;
}

footer img{

    width: 50%;
}

footer a:hover{
    color: white;
}



#s1d1 {

    display: flex   ;
    margin: auto;
    justify-content: center;
    max-width: 1152px;
   
}

#s1{
    background-color: #F8FAFC;
}

#s1p1{

    background-color: #E0E7FF;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 9999px;
    color: #4338CA;
    font-weight: 700;
    font-style: italic;

}

#s1 h1{

    font-weight: 800;
    font-size: 72px;
    padding: 20px 0;
}

#s1 span{

    color: #4F46E5;
}

#art1{

        padding: 15px;
        gap: 20px;
}

#s1p2{


font-weight: 400;
font-size: 20px;
line-height: 33px;
color: #475569;
padding-bottom: 60px;

}

#s1b1{

padding: 18px 32px;
border-radius: 16px;
background-color: #0F172A;
color: white;
    display: block;
    width: fit-content;

}

#s1b2{

padding: 18px 32px;
border-radius: 16px;
color: #0F172A;
background-color: white;
border-width: 1px;
border-color: black;
margin: 0 15px;
    display: block;
    width: fit-content;

}

#s1d9{

    gap: 15px;
    display: flex;
}

#s1b1:hover{
color: #0F172A;
background-color: white;

}

#s1b2:hover{
background-color: #0F172A;
color: white;
}


#avert{

background-color: #DCFCE7;
color: #16A34A;

font-weight: 700;

font-size: 16px;

line-height: 24px;
width: 40px;
height: 40px;

border-radius: 9999px;
text-align-last: center;
align-content: space-evenly;

}

#s1d5{

    background-color: white;
    border-radius: 16px;
    width: fit-content;
    padding: 15px;
    display: flex;
    gap: 15px;
    position: absolute;
    right: 0px;
    bottom: 140px;
}

#s1p7{
 
font-weight:700;
font-size: 12px;
line-height: 16px;
color: #0F172A;

}

#s1p8{

font-weight: 400;
font-size: 10px;
line-height:15px;
color: #64748B;

}

#art2{

    position: relative;
}


#s2a1{
padding: 100px 15px;
    text-align: center;
}


#s2a1 h2{

font-weight: 800;
font-size: 36px;
line-height: 40px;
color: #0F172A;
}

#s2a1 p{
width: 672px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #64748B;
    justify-self: center;
    padding: 15px 0;
}

#s2a2{

    display: flex;
    margin: auto;
    max-width: 1104px;
    padding: 0px 15px 100px 15px;
    gap: 40px;
    
}

#warning{

color:#EA580C;
padding: 17px;
border-radius: 16px;
background-color: #FFEDD5;
}

#cloud{

color:#2563EB;
padding: 17px;
border-radius: 16px;
background-color: #DCFCE7;
}

#book{

color: #9333EA;
padding: 17px;
border-radius: 16px;
background-color: #F3E8FF;
}

.s2d1 h3{

padding-top: 50px;
padding-bottom: 20px;

font-weight: 800;

font-size: 20px;

line-height: 28px;
color: #0F172A;

}

.s2d1 p{

font-weight: 400;

font-size: 14px;

line-height:23px;

color: #475569;
}


@media screen and (max-width :748px) {


    #s2a2{

    display: grid;
    grid-template-columns: 1fr;
        padding: 30px;
}

#s2a1 p{
width: fit-content;
padding: 15px;
}

}



#s3{

    background-color: #F8FAFC;
}

#s3gd{

    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 1104px;
    padding: 50px 15px;
}

#s3 article{

    width: 522px;
}

#divscan{

    width: 456px;
    height: 456px;
    border-radius: 32px;
    background-color: #F8FAFC;
    justify-self: center;
    text-align-last: center;
    align-content: space-evenly;
    margin-top: 35px;
}

/* dsl pr le margin top */

#gdivscan{
border-radius: 32px;
border-width: 30px;
width: 522px;
height: 522px;
background-color: white;
}

#s3 h2{

font-weight: 800;
font-size: 36px;
line-height: 40px;
color: #0F172A;
    padding-bottom: 20px;
}

#s3p1{

font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #475569;
padding-bottom: 20px;

}

.s3p2{
background: #4F46E5;
background: linear-gradient(90deg,rgba(79, 70, 229, 1) 0%, rgba(147, 51, 234, 1) 100%);
color: white;

font-weight: 700;

font-size: 16px;

line-height: 24px;
width: 40px;
height: 40px;

border-radius: 9999px;
text-align-last: center;
align-content: space-evenly;

    margin: 15px;
    padding: 0 6px;

}

.s3d1{

    display: flex;
}

.s3p4{

font-weight: 400;
font-size: 16px;
line-height: 24px;
color:#64748B;
padding-top: 10px;
}

#s3 h3{

    padding-top: 17px;
}

@media screen and (max-width :748px) {

    #s3gd{

        display: grid;
                justify-content: space-evenly;
    }

}

#s4{

    max-width: 1104px;
    margin: auto;
    margin-bottom: 100px;
}

#s4ga{

    display: flex;
    gap: 35px;
}

#s4 h2{

font-weight: 800;
font-size: 36px;
line-height: 40px;
color: #0F172A;
    padding-bottom: 50px;
    padding-top: 80px;
    justify-self: center;
}


#js{

background-color:#C7D2FE;
color: #4338CA;

font-weight: 700;

font-size: 16px;

line-height: 24px;
width: 40px;
height: 40px;

border-radius: 9999px;
text-align-last: center;
align-content: space-evenly;

}

#md{

background-color:#FBCFE8;
color: #BE185D;

font-weight: 700;

font-size: 16px;

line-height: 24px;
width: 40px;
height: 40px;

border-radius: 9999px;
text-align-last: center;
align-content: space-evenly;

}

#tl{

background-color:#BBF7D0;
color:#15803D;

font-weight: 700;

font-size: 16px;

line-height: 24px;
width: 40px;
height: 40px;

border-radius: 9999px;
text-align-last: center;
align-content: space-evenly;

}


.s4pd{

    width: fit-content;
    padding: 15px;
    display: flex;
    gap: 15px;

}

.s4p7{
 
font-weight:700;
font-size: 16px;
line-height: 24px;
color: #0F172A;

}

.s4p8{

font-weight: 400;
font-size: 12px;
line-height:16px;
color: #64748B;

}

.s4a1{

    background-color:#F8FAFC;
    border-radius: 24px;

padding: 31px;

}

.s4p4 {


font-weight: 400;
font-style: Italic;
font-size: 16px;
line-height: 24px;
color: #475569;
margin-bottom: 12px;


}
@media screen and (max-width :1024px) {

#s1 img{

    width: 410px;
}
}

@media screen and (max-width :748px) {

  #s4ga {
    display: grid;
    gap: 35px;
    margin: 30px;}

    #divscan img{
        width: fit-content;
    }

    #gdivscan{
        width: fit-content;
    }

    #s1d1{

        display: grid;
    }

    #s1d5{

            display: none;
    }

    #s1d9{

        display: grid;
    }
    #s1b1{

        width: auto;
        text-align: center;
    }

  #s1b2{

        width: auto;
        text-align: center;
    }
    
#s1 img{
    width: fit-content;
    max-width: 748px;
}
#art2 {

    justify-self: center;
}

#s3gd{

    max-width: 400px;
}

#divscan{
    max-width: 400px;
}

}


